.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .dropdown-header {
    // background-color: $main-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    // padding: 10px;
    // background-color: #2B2F30;
    // margin-top: 25px;
    max-width: 100vh;
    min-width: 100%;
    height: 85px;
    cursor: pointer;
    position: relative;
    flex-grow: 0;
    border: 1px solid #1c1c1c;
    border-radius: 0px;

    .arrow {
      transition: transform 0.3s ease;
      // background-color: #2B2F30;
      width: 25px;
      height: 25px;
      filter: invert(1);
      transform: rotate(-90deg);

      &:hover {
        cursor: pointer;
      }

      &.rotate {
        transform: rotate(90deg);
      }
    }

    .checkmark {
      width: 25px;
      height: 25px;
      margin-left: 15px;
      filter: invert(1);

    }

    .faction-header {
      // background-color: blue;
      display: flex;
      flex-direction: row;
      width: 100%;

      .faction-info {
        display: flex;

        .faction-text {
          display: flex;
          flex-direction: row;
          
                  h2 {
                    font-size: 1.5em;
                    color: white;
                    // background-color: #2B2F30;
                    text-align: center;
                    margin-left: 12px;
                    flex-grow: 0;
                  }
            
                  h3 {
                    font-size: 1.2em;
                    margin-top: 2px;
                    margin-left: 35px;
                    text-align: center;
                  }
        }
      }


      .faction-icon {
        width: 54px;
        height: 54px;
        margin: 0px 15px;
      }

      .faction-banner {
        position: absolute;
        top: 0;
        right: 30px;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: -1;
      }
    }
  }

  .dropdown-box {
    overflow: hidden;
    height: 0px;
    min-width: 70%;
    transition: max-height 0.5s ease, padding 0.5s ease, min-height 0.5s ease;
    padding: 0 20px;
    position: relative;
    // background-color: $grey-background;
    
    &.visible {
      min-height: 50px;
      height: auto;
      padding: 10px 20px;
    }

    .dropdown-content {
      font-family: 'Montserrat';
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease;
      justify-content: center;

      .emblems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .category {
        h3 {
          font-size: 26px;
          text-align: center;
          margin: 15px;
          padding: 15px 0px;
          border-top: 1px solid #1c1c1c;
          border-bottom: 1px solid #1c1c1c;
        }
      }

      &.visible {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 767.98px) {

  .dropdown {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .dropdown-header {
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .faction-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;

        .faction-icon {
          width: 50px;
          height: 50px;
          margin: 0px 10px;
          flex-shrink: 0;
        }
  
        .faction-info {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          justify-content: center;
          text-align: center; 

          .faction-text {

            flex-direction: column;
            h2 {
              font-size: 1.4em;
            }
    
            h3 {
              font-size: 1.0em;
            }
          }
        }


        .faction-banner {
          opacity: 0.1;
        }
      }

      .arrow {
        margin-right: 10px;
      }
    }


    .dropdown-box {
      min-width: 10%;
      max-width: 90%;

      .dropdown-content {
        min-width: 10%;
        max-width: 90%;

        .emblems {

          flex-direction: column;

          .emblem-card {
            width: 95%;
            border: 1px solid #666666;

            img {
              width: 75px;
              height: 75px;
              flex-shrink: 0;
            }
          }
        }

        img {
          width: 90px;
          // height: 90px;
          margin-right: 10px;
        }

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

}