.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .dropdown-header {
    // background-color: $main-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2B2F30;
    margin-top: 25px;
    max-width: 100vh;
    min-width: 60%;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 18px;
      color: white;
      background-color: #2B2F30;
    }

    img {
      width: 25px;
      height: 25px;
      transition: transform 0.3s ease;
      background-color: #2B2F30;

      &:hover {
        cursor: pointer;
      }

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-box {
    overflow: hidden;
    height: 0px;
    min-width: 70%;
    transition: max-height 0.5s ease, padding 0.5s ease, min-height 0.5s ease;
    padding: 0 20px;
    position: relative;
    // background-color: $grey-background;
    
    &.visible {
      min-height: 50px;
      height: auto;
      padding: 10px 20px;
    }

    .dropdown-content {
      font-family: 'Montserrat';
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease;
      justify-content: center;
      
      h4 {
        font-size: 22px;
        // margin-bottom: 6px;
      }

      .category {
        h3 {
          font-size: 26px;
          text-align: center;
          margin: 15px;
        }
      }

      &.visible {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 767.98px) {

  .dropdown {

    .dropdown-header {
      min-width: 5px;
      max-width: 90%;
    }

    .dropdown-box {
      min-width: 10%;
      max-width: 90%;

      .dropdown-content {
        min-width: 10%;
        max-width: 90%;

        img {
          width: 90px;
          height: 90px;
          margin-right: 5px;
        }

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

}