@use './../../variables.scss' as *;

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;

  * {
  align-items: center;
  }

  .dropdown-header {
    border-radius: $global-border-radius;
    display: flex;
    justify-content: space-between;
    background-color: rgba(19,19,19,1);
    width: 98%;
    height: 85px;
    cursor: pointer;
    position: relative;
    flex-grow: 0;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.6);
    margin-top: 14px;

    .arrow {
      transition: transform 0.3s ease;
      position: absolute;
      right: 20px;
      width: 25px;
      height: 25px;
      filter: invert(1);
      transform: rotate(-90deg);

      &:hover {
        cursor: pointer;
      }

      &.rotate {
        transform: rotate(90deg);
      }
    }

    .checkmark {
      width: 25px;
      height: 25px;
      margin-left: 15px;
      filter: invert(23%) sepia(16%) saturate(1764%) hue-rotate(71deg) brightness(90%) contrast(90%);
      z-index: 20;
    }

    .progress-bar {
      position: absolute;
      bottom: 0px;
      height: 5px;
      background-color: #214C22; // Shouldn't be used since every case is manually handled below
      transition: width 0.4s ease;
      z-index: 20;

      &.Tall-Tales {
        background-color: #93712F; }

      &.Adventures-at-Sea {
        background-color: #BE701D; }

      &.Gold-Hoarders {
        background-color: #EFE93E; }

      &.Order-of-Souls {
        background-color: #B24C81; }

      &.Merchant-Alliance {
        background-color: #1395B2; }

      &.Athenas-Fortune {
        background-color: #69EBA6; }

      &.Reapers-Bones {
        background-color: #B22517; }

      &.Hunters-Call {
        background-color: #668B91; }

      &.Sea-Dogs {
        background-color: #E8A72F; }

      &.Creator-Crew {
        background-color: #C79645; }

      &.Guardians-of-Fortune {
        background-color: #56CF8A; }

      &.Servants-of-the-Flame {
        background-color: #B73F34; }

    }

    .faction-header {
      display: flex;
      flex-direction: row;
      width: 100%;

      .faction-info {
        display: flex;
        position: absolute;
        left: 70px;

        .faction-text {
          display: flex;
          flex-direction: row;
          
          h2 {
            font-size: 1.5em;
            text-align: center;
            margin-left: 12px;
            flex-grow: 0;

            z-index: 2;
          }
    
          h3 {
            font-size: 1.2em;
            margin-top: 2px;
            margin-left: 35px;

            z-index: 2;
          }
        }
      }

      .faction-icon {
        width: 65px;
        height: 65px;
        margin: 0.5%;
        margin-top: 2px;
      }

      .faction-banner {
        position: absolute;
        top: 0;
        right: 30px;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;
      }
    }
  }

  .dropdown-box {
    overflow: hidden;
    height: 0px;
    min-width: 70%;
    transition: max-height 0.5s ease, padding 0.5s ease, min-height 0.5s ease;
    padding: 0 20px;
    position: relative;
    // background-color: $grey-background;
    
    &.visible {
      min-height: 50px;
      height: auto;
      padding: 10px 20px;
    }

    .dropdown-content {
      font-family: 'Montserrat';
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease;
      justify-content: center;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin: 16px auto 0px auto;
      }

      .category {
        h3 {
          font-size: 26px;
          text-align: center;
          margin: 15px;
          padding: 15px 0px;
          border-top: 1px solid #1c1c1c;
          border-bottom: 1px solid #1c1c1c;
        }
      }

      &.visible {
        opacity: 1;
      }
    }
  }
}

.dropdown-header:hover {
  background-color: rgba(24,24,24,1);
  transition: 0.5s;
}


@media (max-width: 767.98px) {

  .dropdown {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .dropdown-header {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-radius: 0;

      .faction-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;

        .faction-icon {
          width: 50px;
          height: 50px;
          margin: 0px 10px;
          flex-shrink: 0;
        }
  
        .faction-info {
          text-align: left; 
          left: 65px;

          .faction-text {
            display: block;

            h2 {
              font-size: 1.4em;
              margin: 0 12px;
            }
    
            h3 {
              font-size: 1.0em;
              margin: 0 12px;
            }
          }
        }


        .faction-banner {
          opacity: 0.1;
        }
      }

      .arrow {
        margin-right: 10px;
      }
    }


    .dropdown-box {
      width: 90%;

      .dropdown-content {
        min-width: 10%;
        max-width: 100%;

        ul {
          flex-direction: column;
        }
      }
    }
  }
}