@use './../../variables.scss' as *;

main {
  width: 1100px;
  margin: 25px 0px;
  padding: 25px 0px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $alt-bg-color;
  border-top: solid 3px $main-accent-color;
  border-bottom-left-radius: $global-border-radius;
  border-bottom-right-radius: $global-border-radius;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);

  h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-group {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      label {
        display: flex;
        align-items: center;
      }

      input {
        width: 100%;
        padding: 8px 12px;
        margin: 10px 0;
        font-size: 16px;
        border: 0px solid black;
        border-bottom: 2px solid grey;
        background-color: $main-button-color;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      input:hover {
        background-color: #1f1f1f;
        transition: 0.4s;
      }
    }

    button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 12px 80px;
      font-size: 16px;
      background-color: #2B2F30;
      color: white;
      border: 0px solid $main-accent-color;
      border-left: 3px solid $main-accent-color;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      width: auto;
      
      /* On hover */
      &:hover {
        background-color: $main-accent-color;
        box-shadow: 0 6px 15px rgba(0,0,0,0.6);
      }
    }
  }

  .signup-here {
    margin: 20px;
    
    .signup-link {
      color: $main-accent-color;
      font-weight: bold;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;
      
      &:hover {
        color: #62e667;
        cursor: pointer;
      }
    }
  }
}