@use './../../variables.scss' as *;

#all-commendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  ul {
  min-width: 100%;
  max-width: 100%;
  }

  .offset {
    &.active {
      height: 66px;
    }
  }
}

.loading-container {
  p {
    font-size: 36px;
    margin: 20px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: red;
    margin-top: 28px;
  }

  span {
    margin: 2rem 25%;
    width: 40%;
    padding: 10px;
    border: 0px solid black;
    border-left: 3px solid $main-accent-color;
    background-color: #2B2F30;
    color: white;
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $main-accent-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      border: 0px solid black;
      border-left: 3px solid $main-accent-color;
    }

  }
}

@media (max-width: 767.98px) {
  #all-commendations {
    width: 100%;

    .filters {
      flex-direction: column;

      .search-bar {
        width: 90%;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}