#all-commendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  .search-bar {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #2B2F30;
    color: white;
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    
    button {
      padding: 12px 20px;
      font-size: 16px;
      background-color: #2B2F30; /* Green background */
      color: white;
      border: 2px solid #214B21;
      border-radius: 20px; /* Rounded corners */
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      width: auto; /* Adjust the width to fit the text content */
      // margin-top: 20px;
      
      /* On hover */
      &:hover {
        // background-color: blue; /* Darker green */
        border-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      /* On focus */
      &:focus {
        outline: none;
        border-color: white; /* Lighter green on focus */
        box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
      }
      
      /* Active state */
      &:active {
        transform: translateY(2px); /* Slightly push the button down on click */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  .dropdown-box {
    .dropdown-content {
      .emblems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}

.loading-container {
  p {
    font-size: 36px;
    margin: 20px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: red;
  }

  a {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2B2F30;
    color: white;
    border: 2px solid #214B21;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    
    /* On hover */
    &:hover {
      // background-color: blue; /* Darker green */
      cursor: pointer;
      border-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 767.98px) {
#all-commendations {

  // display: none;
  .dropdown {
    width: 100%;
  }
  
  .dropdown-box {
    .dropdown-content {
      .emblems {
        flex-direction: column;
      }
    }
  }
}
}