main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  .homepage-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
    
    h1 {
      font-size: 2.5rem;
      text-align: center;
      margin: 40px 0px;
      color: #c1c1c7;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
      max-width: 1066px;
      width: 80%;
      justify-content: center;
    }
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto 50px auto;
    gap: 30px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    
    a {
      color: #4CAF50;
      text-decoration: underline;
      &:hover {
        color: #62e667;
      }
    }
  }
}