@use './../../variables.scss' as *;

.emblem-card {
  display: flex;
  padding: 10px;
  padding-left: 10px;
  margin: 8px 8px;
  height: 180px;
  width: 540px;
  border: solid 1px #393939;
  border-left: solid 3px #393939;
  border-radius: $global-border-radius;
  min-height: 140px;
  transition: background-color 0.2s ease, border 0.2s ease;
  background: #181818;
  box-sizing: border-box;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);

  img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    margin-right: 15px;
  }

  .emblem-checkmark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
  }

  .card-content {
    position: relative;
    // height: 66%;

    h4 {
      font-size: 20px;
      // margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      margin-top: 3px;
    }	

    .progress {
      margin-top: 5px;;
    }

    .reward {
      margin-top: 8px;
      font-size: 12px;
      // font-weight: bold;
    }
  }

  &.completed {
    border: 1px solid #214B21;
    border-left: solid 3px #3D863D;
    opacity: 40%;
  }
}

.emblem-card:hover {
  // background-color: rgba($color: #ffffff, $alpha: 0.05);
  border: solid 1px grey;
  border-left: solid 3px grey;
  box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

@media (max-width: 767.98px) {
  .emblem-card {
    border: 0px;
    min-width: 90%;
    max-width: 100%;
  }
}