.emblem-card {
  display: flex;
  padding: 10px;
  padding-left: 15px;
  margin: 8px 8px;
  height: 180px;
  width: 540px;
  border: solid 1px #393939;
  border-radius: 25px;
  min-height: 140px;
  transition: background-color 0.2s ease, border 0.2s ease;
  background: #1a1a1a;
  box-sizing: border-box;

  img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .emblem-checkmark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
  }

  .card-content {
    position: relative;
    // height: 66%;

    h4 {
      font-size: 20px;
      // margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      margin-top: 3px;
    }	

    .progress {
      margin-top: 5px;;
    }
  }
}

.emblem-card:hover {
  // background-color: rgba($color: #ffffff, $alpha: 0.05);
  border: solid 1px grey;
}

@media (max-width: 767.98px) {
  .emblem-card {
    border: 0px;
    min-width: 90%;
    max-width: 100%;
  }
}