.emblem-card {
  display: flex;
  padding: 10px;
  margin: 10px 15px;
  width: 25%;
  border: solid 1px #393939;
  border-radius: 25px;
  min-height: 140px;
  transition: background-color 0.2s ease, border 0.2s ease;
  background: #1a1a1a;

  img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .emblem-checkmark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
  }

  .card-content {
    position: relative;

    .progress {
      margin-top: 5px;;
    }
  }
}

.emblem-card:hover {
  // background-color: rgba($color: #ffffff, $alpha: 0.05);
  border: solid 1px grey;
}

@media (max-width: 767.98px) {
  .emblem-card {
    border: 0px;
    min-width: 90%;
    max-width: 100%;
  }
}