@use './../../variables.scss' as *;

.emblem-card {
  position: relative;
  padding: 10px;
  margin: 0px;
  height: 180px;
  width: 540px;
  border: solid 1px #393939;
  border-left: solid 3px #393939;
  border-radius: $global-border-radius;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-height: 140px;
  transition: background-color 0.2s ease, border 0.2s ease;
  background: #181818;
  box-sizing: border-box;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);

  .card-image {
    position: absolute;
    left: 10px;
    top: calc(50% - 130px/2);

    width: 130px;
    height: 130px;
  }

  .card-button-pin {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 25px;
    height: 25px;

    border: none;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    visibility: hidden;
    
    img {
      filter: invert(16%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(96%) contrast(90%);
      cursor: pointer;

      &:hover {
        filter: invert(100%);
        transition: all 0.3s ease-in-out;
      }

      &.active {
        filter: none;
        transition: all 0.0s ease-in-out;
        visibility: visible;

        &:hover {
          filter: brightness(0) saturate(100%) invert(7%) sepia(48%) saturate(6668%) hue-rotate(1deg) brightness(90%) contrast(112%); }
      }

    }
  }

  .card-content {
    display: block;
    width: 375px;
    margin: auto 0 auto 150px; // Align the block verticaly

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      margin-top: 3px;
    }	

    .progress {
      margin-top: 5px;;
    }

    .reward {
      margin-top: 8px;
      font-size: 12px;
    }
  }

  &.completed {
    border: 1px solid #214B21;
    border-left: solid 3px #3D863D;
    opacity: 40%;
  }

  // Show card-button-pin when emblem-card is hover
  &:hover {
    .card-button-pin {
      visibility: visible;
    }
  }
}

.emblem-card:hover {
  border: solid 1px grey;
  border-left: solid 3px grey;
  box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

@media (max-width: 767.98px) {
  .emblem-card {
    min-width: 90%;
    max-width: 100%;
    min-height: 150px;
    height: auto;
  }

}