@use './../../variables.scss' as *;

main {
  width: 1100px;
  margin: 25px 0px;
  padding: 25px 0px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: solid 3px $main-accent-color;
  border-bottom-left-radius: $global-border-radius;
  border-bottom-right-radius: $global-border-radius;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);

  h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    label {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    input {
      width: 100%;
      padding: 8px 12px;
      margin: 10px 0;
      font-size: 16px;
      border: 0px solid black;
      border-bottom: 2px solid grey;
      color: white;
      background-color: #1a1a1a;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    input:hover {
      background-color: #1f1f1f;
      transition: 0.4s;
    }
  }

  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 12px 40px;
    width: auto;

    font-size: 16px;
    color: white;

    background-color: $main-button-color;

    border: 0px solid $main-accent-color;
    border-left: 3px solid $main-accent-color;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    /* On hover */
    &:hover {
      background-color: $main-accent-color;
      box-shadow: 0 6px 15px rgba(0,0,0,0.6);
    }
  }

  .info-button {
    padding: 6px;
    margin-left: 18px;
    font-size: 12px;
    border: 0px;
  }

  .delete-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: none;

    
    .form-group {
      input {
        width: 100%;
        padding: 8px 12px;
        margin: 10px 0;
        font-size: 16px;
        border: 0px solid black;
        border-bottom: 2px solid gray;
        color: white;
        background-color: #1a1a1a;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }

    &.visible {
      display: flex;
    }
  }

  .delete-button {
    border-left: solid 3px red;

    &:hover {
      background-color: red;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .server-message {
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    color: $main-accent-color;
    background-color: rgba(15,15,15,1);
    border-bottom: 3px solid $main-accent-color;
  }

  .profile-link {
    display: flex;
    margin-bottom: 8px;
    font-size: 14px;
    color: $main-links-color;
    text-decoration: underline;
    &:hover {
      color: $main-links-hover-color;
    }
  }

  .external-link-icon {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(76%) sepia(10%) saturate(3170%) hue-rotate(66deg) brightness(81%) contrast(68%);
    margin-left: 2px;
  }

}