.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    label {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    input {
      width: 80%;
      max-width: 400px;
      padding: 10px 20px;
      margin: 10px 0;
      font-size: 16px;
      border: 1px solid grey;
      border-radius: 8px;
      color: white;
      background-color: #1a1a1a;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2B2F30; /* Green background */
    color: white;
    border: 2px solid #214B21;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: auto;
    
    /* On hover */
    &:hover {
      // background-color: blue; /* Darker green */
      border-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .delete-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: none;

    
    .form-group {
      input {
        width: 80%;
        max-width: 400px;
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 16px;
        border: 1px solid grey;
        border-radius: 8px;
      }
    }

    &.visible {
      display: flex;
    }
  }

  .delete-button {
    &:hover {
      // background-color: blue; /* Darker green */
      border-color: red;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .server-message {
    margin: 10px;
    font-size: 1.5rem;
    color: #214B21;
  }

  .profile-link {
    display: flex;
    margin-bottom: 8px;
    font-size: 14px;
    color: #4CAF50;
    text-decoration: underline;
    &:hover {
      color: #62e667;
    }
  }

  .external-link-icon {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(76%) sepia(10%) saturate(3170%) hue-rotate(66deg) brightness(81%) contrast(68%);
    margin-left: 2px;
  }

}