@use './../../../variables.scss' as *;


.demo-banner {
  position: fixed;
  width: 700px;
  padding: 15px 25px;
  left: calc(50% - 750px/2); // 50% - (width + 2 * horizontal padding ) / 2 
  bottom: 40px; // a little space above the browser edge

  background-color: $alt-transparent-bg-color;
  backdrop-filter: blur(4px);
  border-top: 3px solid $main-accent-color;
  border-bottom-left-radius: $global-border-radius;
  border-bottom-right-radius: $global-border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  text-align: center;
  font-size: 1rem;
  
  z-index: 1000;

  a {
    color: #4CAF50;
    text-decoration: underline;
    margin: 0 0.2rem;

    &:hover {
      color: #62e667;
    }
  }
}

@media (max-width: 767.98px) {

.demo-banner {
  width: 100%;
  left: 0;
  bottom: 0;

  padding: 12px 0;
}

}