  @use './../../../variables.scss' as *;
  
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px 0px;
    padding: 10px;

    z-index: 1000;

    transition: box-shadow 0.3s ease, background-color 0.3s ease;

    &.sticky {
      position: fixed;
      margin-top: 0px;
      margin-bottom: 0px;
      top: 0;
      width: 100%;
      backdrop-filter: blur(4px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

      .refresh-button {
        right: 5.5%;
      }
    }
    
    .toggle-and-search {
      display: flex;
      flex-direction: row;
      min-width: 650px;
      // margin-left: 33%;
      margin: 2px 0px;

      .toggle-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 300px; /* Adjusted to fit both text and slider */
        height: 40px;
        padding: 0 10px; /* Add padding for proper spacing */

        font-size: 16px;
        color: white;

        background-color: $main-button-color;
        border: 0px solid black;
        border-left: 3px solid gray;

        cursor: pointer;
        transition: all 0.3s ease-in-out;
        // margin-right: 25px;
      
        &.off {
          border-color: gray;
        }
        
        &:hover {
          border-color: $main-accent-color;
        }
      
        .toggle-text {
          margin-right: 10px;
          // font-weight: bold;
          white-space: nowrap;
          transition: color 0.3s ease-in-out;
        }
      
        .slider {
          position: relative;
          display: inline-block;
          width: 40px; /* Width of the slider track */
          height: 20px; /* Height of the slider track */
          background-color: grey;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
      
          .slider-handle {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px; /* Diameter of the handle */
            height: 16px;
            background-color: #2B2F30;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
          }
        }
      
        &.on .slider .slider-handle {
          left: calc(100% - 18px); /* Move handle to the right when "on" */
        }

        &.on .slider {
          background-color: #3d863d;
        }
      }
      
      .search-bar-container {
        width: 100%;
        max-width: 420px;
        position: relative;
        align-items: center;
        display: flex;
        height: 40px;
        margin: 1px 20px;

        .search-icon {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          width: 90hv;
          height: 90hv;
          filter: invert(52%) sepia(4%) saturate(7%) hue-rotate(319deg) brightness(96%) contrast(86%);
        }
        
        .search-bar {
          width: 100%;
          max-width: 420px;
          height: 40px;
          padding: 10px 12px;

          font-size: 16px;
          color: white;
          line-height: normal;

          border: 0px solid black;
          border-bottom: 2px solid grey;

          background-color: #1a1a1a;

          transition: all 0.3s ease-in-out;
          box-sizing: border-box;
          transform: translateY(0);

          &:focus, &:hover {
            outline: none;
            border-color: $main-accent-color;
          }
        }

        
        .clear-search {
          all: unset;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-55%);
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: 83%;
          transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
          background-color: transparent;
          filter: invert(60%) sepia(10%) saturate(10%) hue-rotate(317deg) brightness(82%) contrast(84%);

          &:hover {
            filter: invert(19%) sepia(60%) saturate(4074%) hue-rotate(349deg) brightness(78%) contrast(103%);
          }
        }
      }
    }

    .refresh-button {
      display: block;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      padding: 0 28px 0 8px;

      background-color: $main-button-color;
      border: 0px solid black;

      cursor: pointer;
      transition: all 0.3s ease-in-out;
      transition: right 0s ease-in-out;

      img {
        filter: invert(52%) sepia(4%) saturate(7%) hue-rotate(319deg) brightness(96%) contrast(86%);
      }

      &.refreshing {
        @keyframes rotate-counterclockwise {
          0% {
            transform: rotate(0deg) scale(1);
          }
          50% {
            transform: rotate(-180deg) scale(1.1);
          }
          100% {
            transform: rotate(-360deg) scale(1);
          }
        }

        img {
          animation: rotate-counterclockwise 1s linear infinite;
          filter: invert(100%);
        }
      }

      &:hover:not(.refreshing) {
        // background-color: blue; /* Darker green */
        border-color: $main-accent-color;

        img{
          filter: invert(100%);
        }
      }

      &.demo-version {
        border-color: grey;
        cursor:not-allowed;
        opacity: 50%;

        &:hover {
          border-color: grey;
        }
      }
    }
  }