@use './../../../variables.scss' as *;

.no-data-box {
  background-color: rgba(19,19,19,0.65);
  border-left: 3px solid $main-accent-color;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  margin: 3rem 0rem;

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.8rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  span {
    color: #4CAF50;
    text-decoration: underline;

    &:hover {
      color: #62e667;
      cursor: pointer;
    }
  }

  .okay-button {
    margin: 1.5rem 25%;
    width: 50%;
    padding: 10px;
    border: 0px solid black;
    border-left: 3px solid $main-accent-color;
    background-color: #2B2F30;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: $main-accent-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      border: 0px solid black;
      border-left: 3px solid $main-accent-color;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
