@use './../../variables.scss' as *;

header {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #393939;
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;

    .main-logo-full {
      width: 400px;
    }

    .main-logo-notext {
      display: none;
    }

    .nav-and-infos {
      
      display: flex;
      flex-direction: column;
      align-items: right;
      margin-top: 16px;

      nav {
        display: flex;
        align-items: center;
        // margin-top: 20px;
        
        a {
          padding-left: 24px;
          font-size: 1.4rem;
          text-decoration: none;
          color: white;
        }
      }
      
    }
    
    .player-infos {
      display: block;
      margin-right: 1%;
      margin-top: 10px;
      text-align: right;
      font-size: 1em;
      
      
      .nickname {
        font-size: 1.2rem;
      }

      .score-display {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 2px;
        
        p {
          color: gray;
          font-weight: bold;
          text-align: right;
        }
        
        img {
          height: 14px;
          margin-top: 1px;
          margin-left: 2px;
          align-items: center;
          filter: invert(58%) sepia(1%) saturate(1%) hue-rotate(23deg) brightness(87%) contrast(86%);
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  header {
    flex-direction: column;

    img {
      margin-bottom: 20px;
      margin-left: 20px;
      width: 80%;
    }

    .header-content {
      .main-logo-full {
        display: none;
      }
      
      .main-logo-notext {
        display: block;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      
      a {
        margin-bottom: 15px;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        font-size: 1rem;
      }
    }
  }
}