@use './../../variables.scss' as *;

header {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #393939;
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;

    .main-logo-full {
      width: 400px;
    }

    .main-logo-notext {
      display: none;
    }

    nav {
      margin-top: 20px;

      a {
        padding-left: 24px;
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
      }
    }

  }

  .playerInfos {
    display: block;
    position: absolute;
    right: 5%;
    top: 65px;
    text-align: right;
    font-size: 1em;

    img{
      height: 13px;
      margin-left: 5px;
      filter: invert(58%) sepia(1%) saturate(1%) hue-rotate(23deg) brightness(87%) contrast(86%);
    }

    .nickname {
      font-size: 1.2rem;
    }

    .score{
      color: gray;
      font-weight: bold;
    }
  }
}

@media (max-width: 767.98px) {
  header {
    flex-direction: column;

    img {
      margin-bottom: 20px;
      margin-left: 20px;
      width: 80%;
    }

    .header-content {
      .main-logo-full {
        display: none;
      }
      
      .main-logo-notext {
        display: block;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      
      a {
        margin-bottom: 15px;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        font-size: 1rem;
      }
    }
  }
}