@use './../../variables.scss' as *;

header {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #393939;
  
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;

    .main-logo-full {
      width: 400px;
    }

    .main-logo-notext {
      display: none;
    }
    
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
    }

    nav a{
      padding: 0 12px;
    }
  }
}

@media (max-width: 767.98px) {
  header {
    flex-direction: column;

    img {
      margin-bottom: 20px;
      margin-left: 20px;
      width: 80%;
    }

    .header-content {
      .main-logo-full {
        display: none;
      }
      
      .main-logo-notext {
        display: block;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      
      a {
        margin-bottom: 15px;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        font-size: 1rem;
      }
    }
  }
}