.home-question {
  background: #1a1a1a;
  border: solid 1px #393939;
  border-left: solid 3px #393939;
  margin-top: 5px;
  border-radius: 3px;
  padding: 15px 25px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s ease, border 0.2s ease;
  cursor: default;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
    border: solid 1px #393939;
    border-left: solid 3px #3D863D;
  }

  h2 {
    font-size: 1.5rem;
    color: #3AA33A;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #EEE;
  }
}