footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
  text-align: center;
  width: 80%;

  .code-link {

    a {
      text-decoration: none;
      color: #4CAF50;
      text-decoration: underline;
    }

    img {
     filter: invert(60%) sepia(24%) saturate(1055%) hue-rotate(73deg) brightness(93%) contrast(85%);
     height: 19px;
     padding-left: 4px;
    }
    
    &:hover {
      a {color: #62e667;}
      img {filter: invert(100%) sepia(43%) saturate(3534%) hue-rotate(50deg) brightness(106%) contrast(80%);}
    }
  }
}

@media (max-width: 767.98px) {
  footer {
    // display: none;
    flex-direction: column;
    align-items: center;
    max-width: 80%;

    p {
      margin-top: 40px;
    }

    a {
      margin-top: 40px;
    }
  }
}