@use './../../variables.scss' as *;

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
  width: 80%;

  text-align: center;

  .code-link {

    a {
      display: inline-block;
      height: 19px;
      text-decoration: none;
      color: $main-links-color;
      text-decoration: underline;
    }

    img {
      display: inline-block;
      height: 19px;
      filter: invert(60%) sepia(24%) saturate(1055%) hue-rotate(73deg) brightness(93%) contrast(85%);
      padding-left: 4px;
    }
    
    &:hover {
      a {color: $main-links-hover-color;}
      img {filter: invert(100%) sepia(43%) saturate(3534%) hue-rotate(50deg) brightness(106%) contrast(80%);}
    }
  }
}

@media (max-width: 767.98px) {
  footer {
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-top:20px;
  }
}