#all-commendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .dropdown-box {
    .dropdown-content {
      .emblems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}