.user-selector {
  width: 200px;
  margin: 20px 0;
  text-align: center;

  select {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #2B2F30;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    /* On hover */
    &:hover {
      border-color: blue;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* On focus */
    &:focus {
      outline: none;
      border-color: blue; /* Lighter green when focused */
      box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
    }

    /* On selection */
    option {
      padding: 10px;
      background-color: #2B2F30;
      color: white;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e1f7e1; /* Light green hover effect */
      }
    }
  }

  /* Optional: Label for better accessibility */
  label {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
    display: block;
  }
}