/* montserrat-regular - latin */
@use './variables.scss' as *;

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  // background-color: #0F1111;
  background-color: $main-bg-color;
  color: white;
  font-family: 'Montserrat';
}