// Grayish colors
$main-bg-color: #101010; // Main color
$alt-bg-color: #131313; // Lighter than $main-bg-color
$alt-lightest-bg-color: rgba(26,26,26,0.85); // Lighter than $main-bg-color used when opacity is needed.

// Green colors
$main-accent-color: #214B21;
$main-links-color: #4CAF50;

// Global variables
$global-border-radius: 5px;